*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background:linear-gradient(to right,rgba(215, 24, 24, 0.732),rgba(237, 247, 46, 0.644));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    margin: 200px auto;
    padding: 45px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.468);
    text-align: center;
}

.container h1{
    font-size:30px;
    font-weight: bold;
}
.container input[type="text"]{
    width: 95%;
    padding:10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.468);
    font-size: 18px;
}
.container button{
    background-color: rgb(231, 21, 21);
    color: whitesmoke;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 10ms;
}
.container button:hover{
    background-color:rgb(130, 11, 11);
}
#result{
    font-size: larger;
    padding: 10px;
    color: green;
}